@import '../../../../../../css/variables';

.avatar-box {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba($ts-dark, .1);
  border: 1px solid rgba($ts-dark, .1);

  &--round {
    border-radius: 50%;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--play, &--stop {
      transition: transform .2s;
      width: 40px;
      height: 40px;
    }

    &--stop {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    .avatar-box__play img {
      transform: scale(1.1);
    }
  }
}

.avatar {
  width: 100%;
}
