@import '../../../css/variables';

.empty {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__img {
    width: 100px;
  }

  &__text {
    font-size: 18px;
    max-width: 400px;
    font-weight: 200;
    margin-top: 15px;
    text-align: center;
    color: rgba($ts-dark, .5);
  }
}

.playlist {
  background-color: $ts-white;
  margin-top: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 1px 0 rgba($ts-dark, 0.16);
  background-color: $ts-white;

  &__header {
    padding: 15px;
  }

  &__title {
    margin: 0;
    display: flex;
    flex: 1;
    align-items: center;

    input {
      font-size: 18px;
      border: none;
      outline: none;
      flex: 1;
    }
  }

  &__export {
    margin-left: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    animation: expand .3s forwards;
    transform-origin: top center;
    position: relative;

    &:hover {
      background-color: rgba($ts-light-gray, .1);

      .playlist__item__action--remove {
        transform: translateX(100%);
        opacity: 1;

        @media screen and (max-width: $break-md) {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &--artist {
      border-top: 1px solid $ts-light-gray;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;

      &__sub-title {
        color: $ts-gray + 20;
        font-weight: 300;
        margin-bottom: 0;
        font-size: 12px;
        text-transform: capitalize;

        @media screen and (max-width: $break-md) {
          font-size: 12px;
        }
      }

      &__title {
        color: $ts-dark;
        margin-bottom: 0;
        font-size: 16px;

        @media screen and (max-width: $break-md) {
          font-size: 15px;
          text-decoration: underline;
          text-decoration-color: $ts-light-gray;
        }
      }
    }

    &__actions {
      margin-left: auto;
      flex-shrink: 0;
    }

    &__action {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      transition: all .1s;

      img {
        width: 20px;
        transition: .2s all;
      }

      &--remove {
        opacity: 0;
        position: absolute;
        right: 0;
        margin: 0;
        top: 0;
        width: 60px;
        height: 100%;
        color: $ts-gray;
        transform: translateX(100%);

        @media screen and (max-width: $break-md) {
          opacity: 1;
          position: relative;
          height: 30px;
          width: 30px;
          margin-left: 15px;
          transform: translateX(0);
          color: $ts-red;
        }
      }

      &:hover {
        img {
          transform: scale(1.1) rotate(135deg);
        }

        &.playlist__item__action--remove {
          color: $ts-red;
        }

        &.playlist__item__action--magic {
          color: $ts-blue;
        }
      }
    }
  }
}

.info {
  padding: 30px 15px;
  background-color: $ts-white;
  border-radius: 7px;
  box-shadow: 0 1px 1px 0 rgba($ts-dark, 0.16);

  &__col {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
  }

  &__img {
    height: 60px;
    margin-bottom: 15px;
  }

  &__text {
    padding: 10px;
  }
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(100%)
  }
}

@keyframes highlight {
  from {
    box-shadow: inset 4px 0 $ts-blue;
  }

  to {
    box-shadow: none;
  }
}
