@import '../../../css/variables';

.tabs {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 -15px;
}

.tab-item {
  text-transform: uppercase;
  color: $ts-gray;
  font-weight: 200;
  margin: 0 15px;
  cursor: pointer;

  &--active {
    color: $ts-blue;
    font-weight: bold;
    border-bottom: 3px solid $ts-blue;
  }

  &:hover:not(.tab-item--active) {
    color: $ts-gray - 20;
  }
}
