@import '../../../../../css/variables';

.result {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all .15s;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

    &__sub-title {
      color: $ts-gray + 20;
      font-weight: 300;
      margin-bottom: 0;
      font-size: 12px;
      text-transform: capitalize;

      @media screen and (max-width: $break-md) {
        font-size: 16px;
      }
    }

    &__title {
      color: $ts-dark;
      margin-bottom: 0;
      font-size: 16px;

      @media screen and (max-width: $break-md) {
        font-size: 18px;
      }
    }
  }

  &:hover {
    background-color: rgba($ts-light-gray, .2);
  }
}
