@import '../../../css/variables';

.search-result {
  border: 1px solid $ts-light-gray;
  border-radius: 4px;
  background-color: $ts-white;

  @media screen and (max-width: $break-md) {
    margin-right: 0;
  }
}
