@import '../../../css/variables';

.search-result {
  position: relative;
  z-index: 5;

  &__content {
    border-radius: 7px;
    overflow: hidden;
    background-color: $ts-white;
    position: absolute;
    margin-top: 15px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba($ts-dark, 0.16);
  }

  @media screen and (max-width: $break-md) {
    margin-right: 0;
  }
}
