@import '../../../css/variables';

.search-result {
  border: 1px solid $ts-light-gray;
  border-radius: 4px;
  background-color: $ts-white;
  margin-right: 140px;

  @media screen and (max-width: $break-md) {
    margin-right: 0;
  }

  &__header {
    padding: 40px 30px 0;
    border-bottom: 1px solid $ts-light-gray;
  }

  &__no-content {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 20px;
    color: $ts-gray;
  }
}
