@import './variables';

// Form control
.form-control {
  &:focus {
    box-shadow: none;
  }

  &::-webkit-input-placeholder {
    color: lighten($ts-gray, 15%);
    font-weight: 200;
  }
}

// Buttons
.btn {
  &.btn-success {
    background-color: $ts-green;
  }
}
