// Colors
$ts-light: #FAF9F8;
$ts-dark: #152334;
$ts-blue: #00B6F0;
$ts-red: #F06292;
$ts-green: #00CE5C;
$ts-white: #FFFFFF;
$ts-gray: #99A1A3;
$ts-light-gray: #E5E7E8;

// @media breaks
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-lx: 1200px;
