@import './variables';

body {
  @import './bs-overrides';

  font-family: 'Quicksand', sans-serif;
  background: $ts-light;
  color: $ts-dark;
  padding-bottom: 50px;

  @media screen and (max-width: $break-md) {
    padding-top: 15px;
  }
}

a {
  &:focus {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}
