@import './variables';

body {
  @import './bs-overrides';
  @import './tooltip';

  font-family: 'Quicksand', sans-serif;
  background: $ts-light;
  color: $ts-dark;
  padding-bottom: 50px;
}

a {
  &:focus {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}
