@import '../../../../css/variables';

.search-bar {
  &__input-group {
    background-color: $ts-white;
    box-shadow: 0 1px 1px 0 rgba($ts-dark, 0.16);
    border-radius: 4px;

    .input-group-prepend {
      .input-group-text {
        width: 60px;
        justify-content: center;
      }
    }

    .input-group-text {
      background-color: transparent;
      border: none;
    }
  }

  &__clear {
    cursor: pointer;
    padding-left: 7px;
    padding-right: 7px;

    &__img {
      height: 15px;
    }
  }


  &__input {
    border: none;
    font-size: 18px;
    padding: 15px 20px;
    padding-left: 0;
  }

  &__btn {
    border: none;
    padding: 10px;
    width: 140px;
  }
}
