@import '../../../../css/variables';

.results-list {
  &__block {
    &__header {
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 200;
      color: $ts-blue;
    }
  }

  &__item {
    &--active {
      background-color: rgba($ts-light-gray, .3);
    }
  }
}

.search-result {
  &__no-content {
    font-weight: 200;
    margin: 15px;
    margin-top: 0;
    color: rgba($ts-gray, .7);

    &--border-top {
      border-top: 1px solid $ts-light-gray;
    }
  }
}
