@import '../../../../css/variables';

.results-list {
  &__block {
    &__header {
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 200;
      color: $ts-blue;
    }
  }
}

.show-more {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  padding: 20px;
  color: $ts-gray;
  border-top: 1px solid $ts-light-gray;

  &:hover {
    background-color: rgba($ts-light-gray, .2);
  }
}

.search-result {
  &__no-content {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 20px;
    color: $ts-gray;

    &--border-top {
      border-top: 1px solid $ts-light-gray;
    }
  }
}
