@import '../../../css/variables';

.export {
  &__btn {
    cursor: pointer;
    background-color: $ts-green;
    color: $ts-white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    border: none;
    line-height: 18px;
    transition: all .3s;
    display: inline-block;
    box-shadow: 0 1px 1px rgba($ts-dark, .1);

    &:hover {
      background-color: $ts-green + 5;
      color: $ts-white;
      text-decoration: none;
      transform: translateY(-2px);
      box-shadow: 0 4px 5px rgba($ts-dark, .1);
    }
  }
}
